@keyframes slide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    from, to { border-color: transparent;}  
    50% {border-color: #735DA5;}
}

@keyframes slide-ltr {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}

@keyframes appear {
    from, 99% {opacity: 0;}
    to {opacity: 1;}
}

.typed-text {
    overflow: hidden;
    color: #735DA5 ;
    white-space: nowrap;
    border-right: 2px solid black;
    animation: slide 2s ease-in-out, blink 0.75s infinite;
}

.typed-text2 {
    overflow: hidden;
    white-space: nowrap;
    animation: appear 2s ease-in, slide-ltr 2s ease-in-out 2s;
}

