.open
{
    transform: rotate(-180deg);
    transition: transform 0.3s linear !important;
}

.close
{
    transform: rotate(0deg);
    transition: transform 0.3s linear !important;
}

@media screen and (max-width:1024px){
    
    .menu-appear {
        overflow: hidden;
        transition: width 0.2s linear;
    }

    .menu-disappear {
        width: 0%;
        overflow: hidden;
        transition: width 0.2s linear;
    }
}

.dropdown-appear {
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.dropdown-disappear {
    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

@media screen and (min-width: 1024px) {
    .navicon-visible,
    .navicon-hidden {
        display: none !important;
    }
}

.navicon-visible
{
    transform: scale(1,1);
    opacity: 1;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.navicon-hidden
{
    opacity: 0;
    transform: scale(0,0);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}